<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icongame"
        android:label="Math Dices"
        android:roundIcon="@drawable/icongame"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathDices"
        tools:targetApi="31">
        <activity
            android:name=".part2.winning_activity.Winning_activity_bee_home"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_acitivity.BeeHomeActivity"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_rules.Bee_Home_rule"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.winning_activity.Winning_activity_mushroom"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_acitivity.Mushroom_Activity"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_rules.Mushroom_rule"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.winning_activity.Winning_activity_toy_machine"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_acitivity.Toy_Machine_Activity"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_rules.Toy_Machine_rule"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.winning_activity.Winning_activity_slide_2"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_acitivity.Slide_game_2_activity"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_rules.Slide_2_rule"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.winning_activity.Winning_activity_fishing_2"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_acitivity.Fishing_2_Activity"
            android:exported="false" android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_rules.Fishing_2_rule"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part2.winning_activity.Winning_activity_golden_island"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_rules.GoldIsland_rule"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part2.game_acitivity.GoldIslandActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part2.Part2_Homepage_Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Choose_part_activity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".part1.winning_activity.Winning_activity_chicken"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_acitivity.Chicken_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_rules.Chicken_game_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.winning_activity.Winning_activity_card"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_acitivity.Card_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_rules.Card_game_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.winning_activity.Winning_activity_fish_catch"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_acitivity.Fishing_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_rules.Fishing_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.winning_activity.Winning_activity_Slide"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_acitivity.Slide_game_main"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_rules.Slide_introduction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.winning_activity.Winningactivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_acitivity.Game1MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.game_rules.Game1"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".part1.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>